{% extends 'base.html.twig'  %}

{% block title %}Why{% endblock %}

{% block body %}

        <h1>{{ title }}</h1>

        <h3>Comments ({{ comments | length }})</h3>
        <ul>
                {% for comment in comments %}
                        <li>{{ comment }}</li>
                {% endfor%}
        </ul>
{% endblock %}
